@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-UltralightItalic.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Ultralight.woff2') format('woff2'),
      url('/assets/fonts/PPEditorialNew-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Regular.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Italic.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 530;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Italic.woff') format('woff');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


:root {
  /*COLORS*/
  --primary-01: #FAFAFA;
  --primary-02: #191919;
  --secundary-01: #a6a6a6;
  --accent-01: #1c4eef; 

  /*SIZING & SPACING*/
  --size-xxxs: 0.125rem; /* 2px */
  --size-xxs: 0.25rem; /* 4px */
  --size-xs: 0.5rem; /* 8px */
  --size-s: 0.75rem; /* 12px */
  --size-m: 1rem; /* 16px */
  --size-l: 1.25rem; /* 20px */
  --size-xl: 1.5rem; /* 24px */
  --size-xxl: 1.75rem; /* 28px */
  --size-xxxl: 2rem; /* 32px */
  --size-xxxxl: 2.5rem; /* 40px */
  --size-xxxxl: 3rem; /* 48px */
  --size-xxxxxl: 4rem; /* 64px */
  --size-xxxxxxl: 5rem; /* 80px */
  --size-xxxxxxxl: 6rem; /* 96px */

  /*FONTS*/
  --ff-neuemontreal: 'PPNeueMontreal', 'sans-serif';
  --ff-editorialnew: 'PPEditorialNew', 'serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-neuemontreal); 
  font-weight: 400; 
  background-color: var(--primary-01);
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--ff-editorialnew); 
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  font-size: 14vw;
}

h2 {
  font-family: var(--ff-editorialnew);
  font-style: italic;
  font-weight: 200;
  line-height: 100%;
  font-size: var(--size-xxxxxl);
  margin: var(--size-m) 0 var(--size-m) 0;
}

h3 {
  font-family: var(--ff-editorialnew);
  font-style: italic;
  font-size: var(--size-xl);
  font-weight: 400;
  text-transform: uppercase;
  margin: var(--size-m) 0 0 0;
}

h4 {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-s);
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid var(--primary-02);
  color: var(--primary-02);
  padding: var(--size-xxs) var(--size-xs);
  margin: var(--size-s) 0 var(--size-s) 0; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

h5 {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-m);
  font-weight: 530;
  padding: 0;
  margin: 0;
  color: var(--primary-02);
  cursor: default;
}

p {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-m);

}

a {
  text-decoration: none;
  color: var(--primary-01);
}

/* LOADING ANIMATION */

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 102;
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-02);
  color: var(--primary-01);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 103;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  color: var(--primary-01);
  z-index: 105;
}

.count {
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
}

.copy {
  flex: 6;
}

.copy p {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1;
}

.ml16 {
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-01);
  z-index: -1;
}

.pre-loader, .loader-content {
  display: none; 
}

.pre-loader.active, .loader-content.active {
  display: block;
}


/* NAV */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--size-l) var(--size-xxxl);
  color: var(--primary-01);
  border-bottom: var(--size-xxxs) solid var(--primary-01);
  mix-blend-mode: difference;
  z-index: 1001;
}

nav > div {
  flex: 1;
}

.logo {
  text-align: center;
  font-family: var(--ff-editorialnew);
}

.logo a {
  font-family: var(--ff-editorialnew);
  text-decoration: none;
  font-size: var(--size-xxl);
  font-style: italic;
  color: var(--primary-01);
  font-weight: 400;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-xxl) var(--size-xxxl) var(--size-xl) var(--size-xxxl);
  background: #000;
  outline: none;
  border: none;
  width: var(--size-xxl);
  height: var(--size-l);
  transition: all 25mms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: var(--size-xxxxl);
  height: var(--size-xxxs);
  position: absolute;
  background: var(--primary-01);
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none; 
  background: var(--primary-02);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 
  will-change: transform;
  z-index: 1000;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: var(--size-m);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 

.menu-item p {
  position: relative;
  text-align: center;
  font-family: var(--ff-editorialnew);
  font-style: italic;
  font-size: 9vw;
  line-height: 110%;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p:hover {
 letter-spacing: var(--size-xs);
 color: var(--accent-01);
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%; 
  left: 0;
  transform: translateY(-50%);
  background: var(--accent-01);
  width: 0%;
  height: var(--size-s);
}

.sub-nav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--size-xs);
  opacity: 0;
}

.sub-nav p {
  font-size: var(--size-l);
  color: var(--primary-01);
}

.sub-nav p:hover {
  color: var(--accent-01);
}

/* HOMEPAGE MAIN */

.website-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: flex-end;
  z-index: 0;
  background: var(--primary-01);
  padding: var(--size-xxxl);
}

.main {
  flex-direction: column;
  justify-content: flex-end;
}

.description {
  width: 100%;
  padding-top: var(--size-xxxl);
}

.description p {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-xl);
  font-weight: 450;
}

/* ABOUT MAIN */

.about-content {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: var(--size-xxxxxxxl) 0 0 0;
  overflow: scroll;  
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: var(--size-xxxl);
  color: var(--primary-02);
}

.content_elements, .content_cv_elements {
  padding-bottom: var(--size-l);
}

.content_cv_elements p {
  font-size: var(--size-l);
}

/* BLOG */

.blog-content {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 6rem 0 0 0;
  overflow: scroll; 
}

.blog-grid {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: var(--size-xxxl);
}

.cards-grid-layout {
  position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: auto;
    margin-right: auto;
    gap: var(--size-s);
    grid-template-columns: 1fr;
    justify-content: center;
}

.card {
  padding: 10px;
  text-decoration: none;
  color: var(--primary-01);
  transition: transform .3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
    flex-direction: column;
}

.card-content h3 {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-xl);
  font-style: normal;
  font-weight: 450;
  margin: var(--size-m) 0 var(--size-s) 0;
  color: var(--primary-02);
  text-decoration: none;
  text-transform: none;
}

.figure-thumbnail {
  display: contents;
  overflow: hidden;
  border-radius: 10px;
}

.figure-thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.tags {
  font-size: 1rem;
  overflow: hidden;
  display: flex;
  gap: var(--size-m);
  order: 1;
}

.card-tags {
  justify-content: center;
  align-items: center;
  gap: var(--size-l);
  padding: var(--size-xxs) var(--size-s);
  display: inline-flex;
  color: var(--primary-02);
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid var(--primary-02);
}

/* POST */
.post-layout {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 6rem 0 0 0;
  overflow: scroll; 
}

.post-content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: var(--size-xxxl);
}

.go-back-button {
  display: flex;
  background-color: var(--primary-01);
  border: none;
  text-align: center;
  margin-bottom: var(--size-l);
  cursor: pointer;
}

.go-back-button a {
  font-size: var(--size-m);
  color: var(--primary-02);
  font-size: var(--size-m);
  text-decoration: none;
}

.go-back-button a:hover {
  text-decoration: underline;
  color: var(--accent-01);
}

.post-content h3 {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-xl);
  font-style: normal;
  font-weight: 450;
  margin: 0 0 var(--size-s) 0;
  color: var(--primary-02);
  text-decoration: none;
  text-transform: none;
}

.notes {
  list-style-type: none;
  margin: var(--size-xl) 0 var(--size-s) 0;
}

.info-cards {
  display: flex;
  flex-direction: column;
  margin-top: var(--size-m);
}

.post-tags {
  font-size: 1rem;
  display: flex;
  gap: var(--size-m);
  margin-top: var(--size-m);
}

.behance-button {
  display: flex;
  background-color: var(--primary-01);
  border: none;
  text-align: center;
  margin-top: var(--size-l);
  cursor: pointer;
}

.behance-button a {
  font-family: var(--ff-neuemontreal);
  font-size: var(--size-m);
  font-weight: 400;
  border-radius: 25px;
  border: 1px solid var(--primary-02);
  color: var(--primary-02);
  padding: var(--size-xxs) var(--size-s);
  margin: var(--size-s) 0 var(--size-) 0; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.behance-button a:hover {
  border: 1px solid var(--accent-01);
  color: var(--accent-01);
}


.project-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--size-xxxxl);
}

.project_figures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
}

.project_figures img {
  width: 100%;
}


/* FOOTER */

footer {
  font-size: var(--size-m);
  width: 100%;
  background-color: var(--primary-01);
  border-top: 2px solid var(--primary-02);
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-02);
  align-items: center;
  padding: 1em 2em;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  float: left;
  list-style-type: none;
  gap: 2em;
}

.footer-menu a {
  text-decoration: none;
  color: var(--primary-02);

}

.footer-menu a:hover{
  color: var(--accent-01);
  cursor: pointer;
}

.copyright p {
  text-align: right;
}



/* MEDIA QUERIE */

@media screen and (min-width: 992px) {
  .description {
      width: 60%;
  }
  
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-grid {
    height: 100vh;
  }

  .cards-grid-layout {
    grid-template-columns: repeat(2, 1fr);
}

  .content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    
  .content_elements {
    margin-bottom: 0;
  }

  .casestudy-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .content_cv {
    width: 40%;
  }
  
  .content_table {
    width: 25%;
  }

  .post-description {
    width: 60%;
  }

  .info-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .behance-button {
    margin-top: var(--size-m);
  }

  .footer-menu {
    padding-bottom: 0;
  }

}


