@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Ultralight.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-Ultralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Ultralight.woff2') format('woff2'),
      url('/assets/fonts/PPEditorialNew-UltralightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Regular.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/assets/fonts/PPEditorialNew-Italic.woff2') format('woff2'),
     url('/assets/fonts/PPEditorialNew-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}



@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Bold.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-SemiBolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Medium.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 530;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Italic.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Italic.woff') format('woff');
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Book.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PPNeueMontreal';
  src: url('/assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
     url('/assets/fonts/PPNeueMontreal-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


:root {
  /*COLORS*/
  --primary-01: #FAFAFA;
  --primary-02: #191919;
  --secundary-01: #a6a6a6;
  --accent-01: #1c4eef; 

  /*SIZING & SPACING*/
  --xxxs: 0.125rem; /* 2px */
  --xxs: 0.25rem; /* 4px */
  --xs: 0.5rem; /* 8px */
  --s: 0.75rem; /* 12px */
  --m: 1rem; /* 16px */
  --l: 1.25rem; /* 20px */
  --xl: 1.5rem; /* 24px */
  --xxl: 1.75rem; /* 28px */
  --xxxl: 2rem; /* 32px */
  --xxxxl: 2.5rem; /* 40px */
  --xxxxl: 3rem; /* 48px */

  /*FONTS*/
  --ff-neuemontreal: 'PPNeueMontreal', 'sans-serif';
  --ff-editorialnew: 'PPEditorialNew', 'serif';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-neuemontreal); 
  font-weight: 400; 
  background-color: var(--primary-01);
  scroll-behavior: smooth;
}

h1 {
  font-family: var(--ff-editorialnew); 
  font-weight: 200;
  font-style: italic;
  font-size: 10vw;
}

a {
  text-decoration: none;
  color: var(--primary-01);
}

/* LOADING ANIMATION */

.pre-loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  z-index: 102;
}

.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-02);
  color: var(--primary-01);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 103;
}

.loader-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 400px;
  color: #cdc6be;
  z-index: 105;
}

.count {
  flex: 2;
  text-align: right;
  line-height: 1;
  padding: 0 1em;
}

.copy {
  flex: 6;
  font-family: "New Times Roman";
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
}

.ml16 {
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.loader-bg {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-01);
  z-index: -1;
}

.loader-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('./assets/img/aveiro_1.png') no-repeat 50% 50%;
  background-size: cover;
  z-index: 101;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}


/* NAV */

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2em;
  color: var(--primary-01);
  border-bottom: 2px solid var(--primary-01);
  mix-blend-mode: difference;
  z-index: 1001;
}

nav > div {
  flex: 1;
}

.logo {
  text-align: center;
  font-family: var(--ff-editorialnew);
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-style: italic;
  color: var(--primary-01);
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75rem 2rem 1.5rem 2rem;
  background: #000;
  outline: none;
  border: none;
  width: 28px;
  height: 20px;
  transition: all 25mms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: var(--primary-01);
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none; /* Esconder inicialmente */
  background: var(--primary-02);
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); /* Esconder no topo */
  will-change: transform;
  z-index: 1000;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: flex;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 

.menu-item p {
  position: relative;
  text-align: center;
  font-family: var(--ff-editorialnew);
  font-style: italic;
  font-size: 10vw;
  will-change: transform;
  transition: letter-spacing 0.3s;
}

.menu-item p:hover {
 letter-spacing: 0.075em;
 color: var(--accent-01);
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%; 
  left: 0;
  transform: translateY(-50%);
  background: var(--accent-01);
  width: 0%;
  height: 12px;
}

.sub-nav {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5em;
  opacity: 0;
}

.sub-nav p {
  font-size: var(--l);
  color: var(--primary-01);
}

.sub-nav p:hover {
  color: var(--accent-01);
}

/* HOMEPAGE MAIN */

.website-content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: flex-end;
  z-index: 0;
  background: var(--primary-01);
  padding: var(--xxxl);
}

.main {
  flex-direction: column;
  justify-content: flex-end;
}

.main h1 {
    font-family: var(--ff-editorialnew); 
    font-weight: 200;
    font-style: italic;
    font-size: 5rem;
}

.description {
  width: 100%;
  padding-top: var(--xxxl);
}

.description p {
  font-family: var(--ff-neuemontreal);
  font-size: var(--xl);
  font-weight: 450;
}

/* ABOUT MAIN */

.about-content {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 6em 0 0 0;
  overflow: scroll;  
}

.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 2em;
  color: var(--primary-02);
}

.content_elements, .content_cv_elements {
  padding-bottom: 18px;
}

.content_cv_elements p {
  font-size: 18px;
}

/* BLOG */

.blog-content {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  padding: 6em 0 0 0;
  overflow: scroll; 
}

.blog-grid {
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.case-study {
  padding: 40px 0;
}

.cards-grid-layout {
  position: relative;
    display: grid;
    max-width: calc((min(100vw - 48px, 1392px) - 264px)* 1 + 264px);
    margin-left: auto;
    margin-right: auto;
    gap: 12px;
    grid-template-columns: 1fr;
    justify-content: center;
}

.card {
  padding: 10px;
  text-decoration: none;
  color: var(--primary-01);
  transition: transform .3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-content {
  display: flex;
    flex-direction: column;
}

.figure-thumbnail {
  display: contents;
  overflow: hidden;
  border-radius: 10px;
}

.figure-thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.tags {
  font-size: 1rem;
  overflow: hidden;
  display: flex;
  gap: 16px;
  order: 1;
  padding: 16px 0;
}

.card-tags {
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: .4em .8em;
  display: inline-flex;
  background-color: var(--primary-02);
  color: var(--primary-01);
  border-radius: 25px;
  overflow: hidden;
}



/* FOOTER */

footer {
  font-size: 16px;
  width: 100%;
  background-color: var(--primary-01);
  border-top: 2px solid var(--primary-02);
}

.copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary-02);
  align-items: center;
  padding: 1em 2em;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  float: left;
  list-style-type: none;
  gap: 2em;
}

.footer-menu a {
  text-decoration: none;
  color: var(--primary-02);

}

.footer-menu a:hover{
  color: var(--accent-01);
  cursor: pointer;
}

.copyright p {
  text-align: right;
}



/* MEDIA QUERIE */

@media screen and (min-width: 992px) {
  .description {
      width: 50%;
  }
  
  .copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blog-grid {
    height: 100vh;
  }

  .cards-grid-layout {
    grid-template-columns: repeat(2, 1fr);
}

  .content {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    
  .content_elements {
    margin-bottom: 0;
  }

  .casestudy-container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .content_cv {
    width: 40%;
  }
  
  .content_table {
    width: 25%;
  }

  .footer-menu {
    padding-bottom: 0;
  }

}


