---
import '../styles/style.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Case Studies";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <div class="blog-content"> 
      <div class="blog-grid">
        <h2>Case Studies</h2>
        <section class="case-study"> 
          <div class="cards-grid-layout"> 
            <a href="/posts/post-1" class="card"> 
              <div class="card-content"> 
                <figure class="figure-thumbnail"> 
                  <img src="/public/assets/img/fine-arts-faculty-website-cover.png" alt="A pink gradient background with a 3D model of a computer presenting the redesign of the website of the Faculty of Fine Arts of the University of Lisbon." />
                </figure> 
                <h3>Fine Arts Faculty Website</h3> 
                <div class="tags"> 
                  <span class="card-tags">ui design</span> 
                  <span class="card-tags">ux research</span> 
                  <span class="card-tags">prototyping</span> 
                </div> 
              </div> 
            </a> 
            <a href="/posts/post-2" class="card"> 
              <div class="card-content"> 
                <figure class="figure-thumbnail"> 
                  <img src="/assets/img/digipath-cover.png" alt="A orange gradient background with a 3D model of a computer displaying the home page of the Digipath website."> 
                </figure> 
                <h3>Digipath</h3> 
                <div class="tags"> 
                  <span class="card-tags">ui design</span> 
                  <span class="card-tags">ux research</span> 
                  <span class="card-tags">design system</span> 
                </div> 
              </div> 
            </a> 
            <a href="/posts/post-3" class="card"> 
              <div class="card-content"> 
                <figure class="figure-thumbnail"> 
                  <img src="/assets/img/ecommerce-website-cover.png" alt="A purple gradient background with a 3D model of a computer displaying the home page of the e-commerce site Revelie."> 
                  <div class="overlay-card"></div>
                </figure> 
                <h3>E-commerce Website</h3> 
                <div class="tags"> 
                  <span class="card-tags">ui design</span> 
                  <span class="card-tags">branding</span> 
                  <span class="card-tags">wireframing</span> 
                </div> 
              </div> 
            </a> 
          
          </div> 
        </section>
      </div>
    </div>
  </main>
</BaseLayout>





