---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
--- 
<Layout>
    <Header />
    <main>
        <div class="main">
            <h1>Inês Mesquita</h1>
            <div class="description">
                <h3>A Lisbon-based digital product designer with a background in Communication Design. With over 2 years of professional experience in UI/UX, branding and graphic design, I'm all about crafting user-centered experiences that make an impact.</h3>  
            </div>
        </div>
    </main>
    <Footer />
</Layout>
