---
--- 
<footer>
  <div class="copyright">
      <ul class="footer-menu">
          <li><a href="https://www.behance.net/insmesquita"></a>Behance</li>
          <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/">Linkedin</a></li>
          <li><a href="https://www.instagram.com/aneisdeneptuno/"></a>Email</li>
          <li><a href="https://www.instagram.com/aneisdeneptuno/"></a>CV</li>
      </ul>
      <p>Copyright &copy; 2024 Inês Mesquita</p>
  </div>    
</footer>
