---
--- 
<footer class="footer">
  <div class="copyright">
      <ul class="footer-menu">
        <li><a href="https://www.behance.net/insmesquita" target="_blank">Behance</a></li>
        <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/" target="_blank">Linkedin</a></li>
        <li><a href="https://www.instagram.com/agenda.design/" target="_blank">Instagram</a></li>
        <li><a href="https://drive.google.com/file/d/1FBd8jfkqrEHeefDtWFyQyy7tPbYK317O/view?usp=share_link" target="_blank">CV</a></li>
      </ul>
  </div>    
</footer>
