---
--- 
<footer>
  <div class="copyright">
      <ul class="footer-menu">
        <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/">Behance</a></li>
        <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/">Linkedin</a></li>
        <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/">Email</a></li>
        <li><a href="https://www.linkedin.com/in/ines-gameiro-mesquita/">CV</a></li>
      </ul>
  </div>    
</footer>
