---
--- 
<footer>
  <div class="copyright">
      <ul class="footer-menu">
          <li><a class="fa fa-linkedin-square" title="Linkedin" href="https://www.linkedin.com/in/ines-gameiro-mesquita/" target="_blank"></a></li>
          <li><a class="fa fa-behance-square" title="Behance" href="https://www.behance.net/insmesquita" target="_blank"></a></li>
          <li><a class="fa fa-instagram" title="Instagram" href="https://www.instagram.com/aneisdeneptuno/" target="_blank"></a></li>
          <li><a class="fa fa-instagram" title="CV" href="https://www.instagram.com/aneisdeneptuno/" target="_blank"></a></li>
      </ul>
      <p>Copyright &copy; 2024 Inês Mesquita</p>
  </div>
</footer>
