---
import Nav from './Nav.astro';
--- 
<header>
    <div class="container">
        <div class="pre-loader">
            <div class="loader"></div>
            <div class="loader-bg"></div>
        </div>
        <div class="loader-content">
            <div class="count"><p>0</p></div>
            <div class="copy"><p class="ml16">Inês Mesquita</p></div>
        </div>
        <div class="loader-2"></div>
    </div>
    <Nav />
</header>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let activeItemIndicator = CSSRulePlugin.getRule(".menu-item p#active::after");
        const toggleButton = document.querySelector(".burger");
        const overlay = document.querySelector(".overlay");
        let isOpen = false;

        // Inicialmente, esconda os itens do menu
        gsap.set(".menu-item p", { y: 225 });
        gsap.set(overlay, { display: "none" });

        // Animation Timeline
        const timeline = gsap.timeline({ paused: true });

        // Adicione animações à timeline
        timeline.to(".overlay", {
            duration: 1.5,
            clipPath: "polygon(0 0, 100% 0, 100% 100%, 0% 100%)", // Mover de cima para baixo
            ease: "power4.inOut",
            onStart: function() {
                overlay.style.display = "flex"; // Mostrar overlay quando a animação iniciar
            },
            onReverseComplete: function() {
                overlay.style.display = "none"; // Esconder overlay quando a animação reverter
            }
        });

        timeline.to(".menu-item p", {
            duration: 1.5,
            y: 0,
            stagger: 0.2,
            ease: "power4.out"
        }, "-=1");

        timeline.to(activeItemIndicator, {
            width: "100%",
            duration: 1,
            stagger: 0.2,
            ease: "power4.out",
            delay: 0.5
        }, "<");

        timeline.to(".sub-nav", {
            bottom: "10%",
            opacity: 1,
            duration: 0.5,
            delay: 0.5,
        }, "<");

        // Adicione o evento de clique ao botão de toggle
        toggleButton.addEventListener("click", function() {
            if (isOpen) {
                timeline.reverse();
            } else {
                timeline.play();
            }
            isOpen = !isOpen;
        });
    });
</script>
