---
import Nav from './Nav.astro';
--- 
<header>
    <div class="container">
        <div class="pre-loader">
            <div class="loader"></div>
            <div class="loader-bg"></div>
        </div>
        <div class="loader-content">
            <div class="count"><p>0</p></div>
            <div class="copy"><p class="ml16">Inês Mesquita</p></div>
        </div>
        <div class="loader-2"></div>
    </div>
    <Nav />
</header>

<script>
  function startLoader() {
                        let counterElement = document.querySelector(".count p");
                        let currentValue = 0;

                        function updateCounter() {
                            if (currentValue < 100) {
                                let increment = Math.floor(Math.random() * 10) + 1;
                                currentValue = Math.min(currentValue + increment, 100);
                                counterElement.textContent = currentValue;

                                let delay = Math.floor(Math.random() * 200) + 25;
                                setTimeout(updateCounter, delay);
                            }
                        }

                        updateCounter();
                    }

                    function showLoader() {
        document.querySelector('.pre-loader').classList.add('active');
        document.querySelector('.loader-content').classList.add('active');
        document.querySelector('.loader-2').classList.add('active');
    }

    function hideLoader() {
        document.querySelector('.pre-loader').classList.remove('active');
        document.querySelector('.loader-content').classList.remove('active');
        document.querySelector('.loader-2').classList.remove('active');
    }

    function runAnimations() {

                    startLoader();

                    gsap.to(".count", { opacity: 0, delay: 3.5, duration: 0.5 });

                    let textWrapper = document.querySelector(".ml16");
                    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, '<span class="letter">$&</span>');

                    anime.timeline({ loop: false })
                        .add({
                            targets: '.ml16 .letter',
                            translateY: [-100, 0],
                            easing: "easeOutExpo",
                            duration: 1500,
                            delay: (el, i) => 30 * i
                        })
                        .add({
                            targets: '.ml16 .letter',
                            translateY: [0, 100],
                            easing: "easeOutExpo",
                            duration: 3000,
                            delay: (el, i) => 2000 + 30 * i
                        });

                    gsap.to(".pre-loader", {
                        scale: 0.5,
                        ease: "power4.inOut",
                        duration: 2,
                        delay: 3
                    });

                    gsap.to(".loader", {
                        height: "0",
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 3.75
                    });

                    gsap.to(".loader-bg", {
                        height: "0",
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 4
                    });

                    gsap.to(".loader-2", {
                        clipPath: "polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)",
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 3.5
                    });

                    gsap.from(".main h1", {
                        y: 200,
                        opacity: 0,
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 3.75,
                        stagger: 0.1
                    });

                     gsap.from(".main h2", {
                        y: 200,
                        opacity: 0,
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 3.75,
                        stagger: 0.1
                    });
            
                    gsap.from(".navigation", {
                        y: 200,
                        opacity: 0,
                        ease: "power4.inOut",
                        duration: 1.5,
                        delay: 3.75,
                        stagger: 0.1
                    });

                    setTimeout(hideLoader, 6000); // Ajuste o tempo conforme a duração da animação
    }

    // Verificar se a animação já foi exibida
    if (!sessionStorage.getItem("loaderDisplayed")) {
        // Adicionar classe active para mostrar os elementos de carregamento
        showLoader();
        runAnimations();
        // Marcar que a animação foi exibida
        sessionStorage.setItem("loaderDisplayed", "true");
    } else {
        // Se a animação já foi exibida, ocultar imediatamente
        hideLoader();
    }

</script>
