---
--- 
<main>
    <div class="website-content">
        <div class="main">
            <h1>Inês<br>Mesquita</h1>
            <div class="description">
                <p>Digital product designer with a background in Communication Design. With over 2 years of professional experience in UI/UX, branding and graphic design, I'm all about crafting user-centered experiences that make an impact.</p>  
            </div>
        </div>
    </div>
</main>
