---
import '../styles/style.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const { pageTitle } = Astro.props;
--- 
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inês Mesquita Portfolio</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" media="all"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" defer></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" defer></script>
    <script src="https://unpkg.com/gsap@3/dist/CSSRulePlugin.min.js" defer></script> 
    <tittle>{pageTitle}</tittle>
</head>
<body>
    <Header />
    <slot></slot>
    <Footer />
</body>
</html>
