---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout>
  <main>
    <section class="post-layout">
      <div class="post-content">
        <button class="go-back-button"><a href="/blog/">← Back</a></button>
        <h2>{frontmatter.title}</h2>
        <h3>{frontmatter.subtitle}</h3>
        <div class="post-description">
          <p>{frontmatter.description}</p>
        </div>
        <slot />
      </div>
    </main>
  </section>
</BaseLayout >